* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "jost";
     }
  html,
  body {
    height: 100%;
    width: 100%;
  }
  @font-face {
    font-family: monu;
    src: url(MonumentExtended-Regular.otf);
  }

  .loader{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
  }

  .loader>h1{
    color: #fff;
    font-size: 7vw;
    font-weight: 100;
    font-family: monu;
  }
  
  #main{
      position: relative;
      overflow: hidden;
      background-color: #1137ca;
  }
  @font-face {
      font-family: "jost";
      src: url(jost-variable.ttf);
  }

  .cursor{
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background-color: #fff;
    z-index: 9;
    position: fixed;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    color: #0340D5;
  }

  #page1
{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
}
#page1>nav>img{
    margin-top: -1.7vw;
    width: 9%;
}
#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid #fff;
    color: #fff;
    
    font-size: 15px;
}
.bottom-page1{
    position: absolute;
    bottom: 5%;
    height: 35vh;
    width: 50vw;
    left: 10%;
}
.bottom-page1>h1{
       font-size: 5vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}
.bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
}
.bottom-page1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.bottom-page1-inner>button{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #0b48ed;
    font-size: 16px;
}
    
.bottom-page1-inner>h4{
    font-size: 1.3vw;
    font-weight: 100;
    color: #fff;
}
#page2{
    display: flex;
    align-items: start;
       justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
    background-color: #0a3cce;
}
#page2>h2{
    margin-bottom: 3vw;
    font-weight: 100;
}
#page2>h1{
    font-weight: 100;
    line-height: 1.3;
    width: 90%;
    font-size: 4vw;
    color: #dadada69;
}


#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

.page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
}
.page4 h3{
    margin-left: 10vw;
    color: #fff;
    font-weight: 100;
}

.page4 h1{
    width: 70%;
    color: #dadada69;
    font-weight: 100;
    margin-left: 10vw;
    font-size: 3.5vw;
    letter-spacing: -2px;
}

.page5{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.page5>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}


.page6{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
}
.page6 h3{
    margin-left: 10vw;
    color: #fff;
    font-weight: 100;
}

.page6 h1{
    width: 70%;
    color: #dadada69;
    font-weight: 100;
    margin-left: 10vw;
    font-size: 3.5vw;
    letter-spacing: -2px;
}


.page7{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
}
.page7>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
.page7-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    background:transparent;
}

.page7-circle-inner{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    border: 1px solid #fff;
    background: transparent;
}



.page8{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0a3cce;
}

.page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page8-bottom{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 40%;
}

.page8-bottom h1{
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    margin-bottom: 2vw;
}

.page8-bottom button{
    font-size: 1vw;
    padding: 1vw 1.5vw;
    color: #0a3cce;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
}


.page9{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0340D5;
    display: flex;
}

.left9{
    height: 100%;
    width: 40%;
    position: relative;
}

.right9{
    height: 100%;
    width: 60%;
    position: relative;
}

.left9>h1{
    font-size: 8vw;
    font-weight: 100;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateY(-50%);
}

.image-div9{
    height: 70%;
    width: 80%;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 8%;
    overflow: hidden;
}

.image-div9>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page10{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0340D5;
}

.page10-content{
    height: 100%;
    width: 60%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5vw;
    padding: 0 2vw;
}

.page10-inner>h1{
    color: #fff;
    font-size: 2vw;
    font-weight: 200;
}

.page10-inner>p{
    color: #cac8c8;
    font-size: 1.5vw;
    font-weight: 200;
    margin-top: 2vw;
}

.page11{
    height: 140vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
}

.page11>h1{
    color: #000;
    font-size: 6vw;
    font-weight: 100;
    margin-top: 5vw;
    margin-left: 10vw;
    margin-bottom: 3vw;
}

.page11-inner{
    width: 100%;
    height: 20%;
    margin-bottom: 2vw;
    display: flex;
   
}

.page11-left{
    height: 100%;
    width: 40%;
    background-color: red;
    margin: 0 3% 0 7%;
    border-radius: 15px;
    overflow: hidden;
    transition: transform ease-out .5s;
}

.page11-right{
    height: 100%;
    width: 40%;
    padding-top: 4vw;
}

.page11-left>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.page11-left:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.page11-right>h4{
   color: #525050;
}
.page11-right>h1{
    font-size: 1.8vw;
    font-weight: 100;
}

#viewAll{
    color: #0340D5;
    background-color: #fff;
    border: 1px solid #0340D5;
    padding: .5vw 1vw;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3vw;
    cursor: pointer;
}

.page12{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #02268E;
}

.page12-inner{
    position: absolute;
    right: 7%;
    top: 15%;
    height: 30%;
    width: 50%;
    padding: 4vw;
}

.page12-inner>h1{
    color: #fff;
    font-size: 5vw;
    font-weight: 100;
}
.page12-inner>p{
    color: #fff;
    font-size: 1.4vw;
    font-weight: 100;
}

@keyframes slide {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

.logos{
    position: absolute;
    bottom: 10%;
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}

.logos-slide{
    display: inline-block;
    animation: 20s slide infinite linear;
}
.logos-slide>img{
    height: 50px;
    margin: 0 50px;
}

/* 
YE WALA JB AAP US PR SCROLL KROGE TB USKO PAUSE KR DEGAAA
.logos:hover .logos-slide{
    animation-play-state: paused;
    cursor: pointer;
} */


.page13{
    height: 60vh;
    width: 100vw;
    position: relative;
    background-color: #000;
}

.page13>h1{
    position: absolute;
    left: 10%;
    top: 20%;
    color: #fff;
    font-size: 6vw;
    line-height: 1;
    font-weight: 100;
}

.page13>button{
    color: #fff;
    background-color: #0340D5;
    border: none;
    outline: none;
    border-radius: 50px;
    position: absolute;
    bottom: 20%;
    left: 10%;
    font-size: 1vw;
    padding: 1vw 2vw;
    cursor: pointer;
}

.page14{
    height: 50vh;
    width: 100vw;
    position: relative;
    background-color: #000;
}

.page14-inner{
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #8d8c8c;
    border-top: 1px solid #8d8c8c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    position: relative;
}

.page14-inner> h1{
    color: #fff;
    font-weight: 100;
    z-index: 99999;
}
.page14-inner> i{
    color: #fff;
    font-size: 2.5vw;
    font-weight: 100;
    z-index: 99999;
}

.centre-div{
    height: 0%;
    width: 100%;
    background-color: #02268E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: height ease .5s;
}

.page14-inner:hover .centre-div{
    height: 100%;
    cursor: pointer;
}

.page15{
    height: 70vh;
    width: 100vw;
    position: relative;
    background-color: #000;
    display: flex;
    gap: 10vw;
    padding: 0 10vw;
}

.page15 a{
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
}
.page15-inner1{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 4vw;
}

.page15-inner2{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 4vw;
}

.page15-inner3{
    position: relative;
}
.page15-inner3>h1{
    color: #fff;
    font-size: 2vw;
    font-weight: 100;
    margin-top: 4vw;
    margin-left: 20vw;
}

.page15-inner3>input{
    background: transparent;
    outline: none;
    width: 25vw;
    border: none;
    border-bottom: 1px solid #ffffff98;
    margin-top: 2vw;
    margin-left: 20vw;
    padding: 10px 30px 10px 0 ;
    color: #fff;
}

.page15-inner3>i{
    color: #fff;
    position: absolute;
    right: 0;
    top: 27%;
    transform: translateX(-50%);

}

.page15 a:hover{
    text-decoration: underline;
}

#copyright{
    color: #fff;
    position: absolute;
    font-size: 1vw;
    left: 10%;
    bottom: 40%;
}